:root{
	--unread-box:#CECECE;
	--border-acc:#ffb607;
	--border-ar:#3fbc27;
	--border-dark:#6b2ce0;
	--account-button:#434242;
	--archive-button:#434242;
	--darkmode-button:#434242;
	--notif-title:#434242;
	--calendar:#434242;
	--current-date:#212020;
	--assessment-text:black;
	--nav-drawer:#181818;
	--appbar:#000000;
	--appbar-content:#434242;
	--drawer-menu:white;
	--profile-container:#8b7e74;
	--user-logo:#3a3636;
	--hover:#3a3636;
	--text-color:white;
	--beforeandafter:#3a3636;
	--logo-color:white;
	--content-box:#9E9E9E;
	--grey:#3a3636;
	--message-box:black;
	--send-color:white;
	--text-area:white;
	--switch:white;
	--form:#212020;
	--info:#212020;
	--profile:#434242;
	--inbox:#434242;
	--assessment:#434242;
	--settings:#434242;
	--history:#434242;
	--border-in:#6b2ce0;
	--border-pro:#3a577e;
	--border-ass:#3fbc27;
	--border-sett:#ffb607;
	--border-his:#2b81d8;
}