:root{
	--nav-drawer:#181818;
	--appbar:#000000;
	--appbar-content:#424342;
	--drawer-menu:white;
	--profile-container:#8B7E74;
	--user-logo:#3a3636;
	--hover:#3a3636;
	--text-color:white;
	--beforeandafter:#3a3636;
	--logo-color:white;
	--content-box:#9E9E9E;
	--grey:#3a3636;
	--notif-title:#434242;
	--message-box:#3a3636;
	--send-color:white;
	--text-area:white;
	--switch:white;
	--form:#212020;
	--info:#212020;
	--settings-border:#6b2ce0;
	--settings_:#434242;
	--records_border:#6b2ce0;
	--accounts_border:#3fbc27;
	--settings_border:#ffb607;
	--records:#434242;
	--accounts:#434242;
	--settings:#434242;


}